.wrapper {
  width: 350px;
  margin: 0 auto;
  box-shadow: 0px 3px 5px black;
  background-color: rgba(0, 170, 238, 0.5);
  margin-top: 20px;
  padding-top: 20px;
  /* padding: 20px; */
}
.list {
  width: 310px;
  list-style: none;
  padding: 20px;
  margin: 0;
}
.listItem {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.title {
  margin: 0;
}
.button {
  width: 70px;
  height: 30px;
  outline: none;
  border: none;

  cursor: pointer;
  font-size: 15px;
  background-color: aqua;
  justify-content: center;
  /* margin: 0 auto; */
  border-radius: 20px;
}
.button:hover,
.button:focus {
  background-color: tomato;
}
.name {
  font-weight: 500;
}

.enter {
  transform: translateX(-100%);
}

.enterActive {
  transition: all 250ms linear;
  transform: translateX(0);
}

.exit {
  transform: translateX(0);
}

.exitActive {
  transition: all 250ms linear;
  transform: translateX(-100%);
}
