.insert {
  width: 70px;
  height: 30px;
  outline: none;
  border: none;

  cursor: pointer;
  font-size: 15px;
  background-color: aqua;
  justify-content: center;
  margin: 0 auto;
  border-radius: 20px;
}
.insert:hover,
.insert:focus {
  background-color: tomato;
}
